@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="row col-md-10 offset-md-1">
  <h1 class="text-primary text-center pt-2">Reset Password</h1>
  <form method="post" asp-controller="Account" asp-action="ResetPassword">
    <input asp-for="Code" type="hidden" />
    <div class="border p-2 rounded">
      <p class="text-center">Reset your Account</p>
      <hr/>
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-froup">
        <label asp-for="Email" class="col-12">Email</label>
        <div class="col-md-12">
          <input asp-for="Email" class="form-control"/>
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
      </div>
      <div class="form-froup">
        <label asp-for="Password" class="col-12">Password</label>
        <div class="col-md-12">
          <input asp-for="Password" class="form-control"/>
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
      </div>
      <div class="form-froup">
        <label asp-for="ConfirmPassword" class="col-12">ConfirmPassword</label>
        <div class="col-md-12">
          <input asp-for="ConfirmPassword" class="form-control"/>
          <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
      </div>
      <div class="form-froup pt-3">
        <div class="col-md-6 offset-md-3">
          <button class="btn btn-success form-control" type="submit">Reset Password</button>
        </div>
      </div>
    </div>
  </form>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}